$light_blue : #A9DCE2 ;
$sea_blue : #3A9099;
$petrol_blue : #005B70 ;
$dark_petrol_blue : #003642 ;
$green : #75C655 ;
$black :#000 ;
$white : #fff;
$gray : #e3e3e3;
$dark_gray : #464646;
$soapstone : #FCFCFC ;