@font-face {
    font-family: 'helvetica regular';
    src: url('../fonts/Helvetica.ttf'),
    url('../fonts/Helvetica-Bold.ttf'),
    url('../fonts/Helvetica-BoldOblique.ttf'),
    url('../fonts/Helvetica-Oblique.ttf'),
    ;
}
$mainFont : 'helvetica' , Fallback , sans-serif  ;