@use "../../../Assets/Shared/color" as *;

.box{
    width: 95%;
    height: 85vh;
    border-radius: 10px;
    padding: 40px;
    box-shadow:3px 15px 26px -5px rgba(110,110,110,1);
}
.title{
    font-size: 40px;
    margin: 0;
}
.text{
    font-size: 13px;
    width: 80%;
    color: $dark_gray;
}
.deleted{
    font-size: 10px;
}
.price{
    font-weight: bold;
    font-size: 20px;
}