@use '../../Assets/Shared/color' as * ;
 .input{
     display: flex;
     flex-wrap: nowrap;
     justify-content: flex-start;
     align-items: center;
     font-weight: bold;
     button{
         border: none;
         font-size: 15px;
         margin:0 10px ;
         cursor: pointer;
         background-color: $white;
         &:hover{
             background-color: $light_blue;
         }
     }
 }