@use '../../../Assets/Shared/color' as *;
.box{
    width: 100%;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atropos{
    width: 80%;
    height: 50%;
}
.grid{
    width: 100%;
    height: 100%;
    background-color: $dark_petrol_blue;
    border-radius: 20px;
    padding: 30px;
}
.detailes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.time{
    color: $green;
    font-size: 16px;
}
.title{
    font-size: 40px;
    font-weight: bold;
    width: 70%;
    color: $white;
}
.text{
    font-size: 12px;
    color: $white;
    margin: 10px 0;
    width: 80%;
    line-height: 1.8;
}
.productBox{
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price{
    font-size: 30px;
    font-weight: bold;
    color: $petrol_blue;
}
.oldPrice{
    font-size: 10px;
    color: red;
}