@use '../../../Assets/Shared/color' as * ;
.InlinedButton{
    background-color: $petrol_blue ;
    padding:  8px 12px;
    border-radius: 20px;
    margin: 4px;
    color: $white;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    &:hover{
        background-color: $dark_petrol_blue;
    }
}