@use '../../../Assets/Shared/color' as * ;
.outlinedButton{
    background-color: transparent ;
    padding:  8px 12px;
    border-radius: 20px;
    margin: 4px;
    color: $white;
    border: none;
    cursor: pointer;
    border : solid 2px $white;
    transition: all 300ms;
    &:hover{
        background-color: $white;
        color: $petrol_blue;
    }
}