@use "../../../Assets/Shared/color" as *;
.footer {
  margin-top: 500px !important;
  height: 300px;
  width: 100vw;
  background-color: $dark_petrol_blue;
  // background-image:  url('../../../Assets/Svg/Intersection1.svg');
}
.flexBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  height: 100%;
  width: 100%;
}
.text {
  color: $soapstone;
  font-size: 16px;
  width: 80%;
  font-weight: 100;
  margin: 5px 0;
  cursor: pointer;
  &:hover {
    color: $gray;
  }
}
.title {
  color: $soapstone;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.copy_right {
  color: $soapstone;
  font-size: 12px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}
.icon {
  color: $white;
  cursor: pointer;
  transition: all 300ms !important;
  &:hover {
    color: $light_blue;
  }
}
