@use "../../../Assets/Shared/color" as *;
.link{
    margin: 15px !important;
    color: $petrol_blue !important;
    border-radius: 30px !important;
}
.navlink {
  text-decoration: none;
  color: $dark_gray;
  font-size: 18px;
}
.menuList{
    flex-grow: 1;
    flex-direction: row-reverse;
}

