@use "../Shared/fonts" as *;
@use "../Shared/color" as *;
* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: $mainFont;
  &::-webkit-scrollbar {
    width: 0.5vw;
    height: 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $dark_petrol_blue;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $light_blue;
  }
  &::selection {
    background-color: $dark_petrol_blue !important ;
    color: $soapstone !important ;
  }
}
html {
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  background-color: $soapstone;
}
